<% if (page.total > 1){ %>
  <nav style="width: 150px;margin: 0 auto;margin-top: 2rem;display: flex;flex-direction: row;justify-content: space-around;">
      <%- paginator({
          prev_text: "&laquo; ",
          next_text: " &raquo;",
          prev_next: true,
          end_size: 1,
          mid_size: 2,
          current_class: "text-orange-400",

      }) %>
  </nav>
<% } %>
